*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body
{
  background-size: 100%;
  overflow: auto;
  opacity:0.5
}
html
{
  font-family:"微軟正黑體";
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  margin: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.03);
}
.menu {
  display: flex;
}
.menu li a {
  margin: 5px;
  padding: 5px 20px;
  color: #232323;
  font-weight: 500;
  opacity: 0.4;
}
.menu .active {
  opacity: 1;
}
.menu li a:hover {
  opacity: 1;
  transition: all ease 0.3s;
}
.logo {
  font-size: 30px;
  color: #414141;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.right-elements {
  display: flex;
}
.right-elements a {
  margin: 0px 10px;
}
.right-elements a i {
  color: #2c2c2c;
}
.right-elements a:hover {
  color: brown;
  transition: all ease 0.2s;
}
#login_frame {
  width: 350px;
  height: 460px;
  padding:50px;
  position: absolute;
  left: 50%;
  top: 45%;
  margin-left: -200px;
  margin-top: -200px;
  background-color: #E78A3C;
  border-radius: 20px;
  text-align: center;
}
form p  {
  display: inline-block;
  vertical-align: middle;
}
.label_input{
  font-size: 25px;
  font-family: "微軟正黑體";
  width: 75px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: white;
  background-color:  #e74444;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 1% 2%;
}
.text_field{
  width: 180px;
  height: 38px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0;
  font-size: 25px;
  padding:1% 2%;
}
#login_control{
  padding: 0 28px;
}
.button{
  background-color:#e74444;
  color: white;
  border: 3px solid white;
  padding:1% 3%;
  text-decoration:none;
  font-size: 25px;
  font-weight: bold;
  font-family: "微軟正黑體";
  border-radius: 5px;
}
.button:hover{
  background-color:#e74444;
  border: 3px solid red;
  padding:1% 3%;
  text-decoration:none;
  font-size: 25px;
  font-weight: bold;
  font-family: "微軟正黑體";
  border-radius: 5px;
}
#btn_login{
  position:absolute;
  left:38%;
  bottom:7%;
  font-size: 14px;
  font-family: "微軟正黑體";
  width: 80px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: white;
  background-color:#E78A3C;
  border-radius: 6px;
  border: 0;
}